main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 400px;
   }
    .piano {
        display: flex;
        width: 1052px;
        height: 222px;
        // background-color: #fff;
        border: 1px solid #000;
        div.keys-unit {
              background-color: #fff;
             display: flex;
             div.piano-key {
                width: 50px;
                height: 220px;
                border-right: 1px solid #000;
                position: relative;
                display: flex;
                &.pressed {
                    background-color: #4ba8f0;
                    box-shadow: 0px 3px 3px rgba(0,0,0,0.8);
                    transform: scale(0.99) translateY(-3px);
                }
            > .black {
                    width: 28px;
                    height: 120px;
                    background-color: #000;
                    position: absolute;
                    right: -14px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.pressed {
                        background-color: #010080
                    }

                }
                > span {
                    position: absolute;
                    bottom: 0;
                    left: 30%;
                }
               
                
            }
        }
    }
